@media screen and (min-width: 600px) {
    .temple-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 900px) {
    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        justify-content: flex-end;
    }
}